{% extends 'base.html' %} {% load static %} {% block content %}
<br>
<br>
 <div class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
       
          <h1 class="fw-bold mb-0 fs-2">Giriş Yapın</h1>
          <a type="button" class="btn-close" href="{% url 'index' %}"></a>
        </div>
  
        <div class="modal-body p-5 pt-0">
          <form method="POST" class="">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages%}

            <div class="alert alert-{{message.tags}}">
                {{message}}
            </div>
            {%endfor%}
            {%endif%}
            <div class="form-floating mb-3">
                {{form.username}}
              <!-- <input type="text" class="form-control rounded-3" id="floatingInput" placeholder="Kullanıcı Adı"> -->
              <label for="floatingInput">Kullanıcı Adı</label>
            </div>
            <div class="form-floating mb-3">
                {{form.password}}
              <!-- <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password"> -->
              <label for="floatingPassword">Şifre</label>
            </div>
            <input class="w-100 mb-2 btn btn-lg rounded-3 btn-primary"  value="Giriş Yap" type="submit"></input>
            <small class="text-muted">Tüm yetkilere ulaşmak için giriş yapınız.</small>
            <hr class="my-4">
            
          </form>
        </div>
      </div>
    </div>
  </div> 
<br><br><br>
<br><br><br>


  {%endblock%}